<section>
  <div class="mdc-card">
      <div class="form-errors mdc-theme--primary-light-bg"
        *ngIf="errors.length"
      >
        <em>Please fix the following errors before submitting:</em>
        <ul>
          <li
            *ngFor="let error of errors"
          >{{error.message}}</li>
        </ul>
      </div>
      <material-formio
         *ngIf="src"
         [ngClass]="{'loading': loader.loading}"
         [src]="src"
         (formLoad)="onFormLoad($event)"
         (errorChange)="onFormError($event)"
         (success)="onFormSuccess($event)"
      ></material-formio>
      <p *ngIf="!src">
        Form is not configured.
      </p>
  </div>
</section>
